<!DOCTYPE html>
<html>
    <head>
        <title>chart test</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>

    <body ng-app="app" class="w3-light-grey">

        <div ng-controller="graph"
            class="w3-container"
        >
            <div>
                Node:
                <select ng-model="selectedNode" ng-options="node for node in nodes"></select>
            </div>
            <div>
                Date:
                <input name="decmonthsstart" type="button" ng-click="monthsadd(start, -1)" value="<<"/>
                <input name="decdaysstart" type="button" ng-click="daysadd(start, -1)" value="<"/>
                <input name="start" id="start" value="{{start | date : 'yyyy-MM-dd'}}" type="date"/>
                <input name="incdaysstart" type="button" ng-click="daysadd(start, +1)" value=">"/>
                <input name="incmonthsstart" type="button" ng-click="monthsadd(start, +1)" value=">>"/>
            </div>
            <svg id="graph">
            </svg>
        </div>

        <script>

            var app = angular.module("app", []);

            app.controller("graph", function($scope, $http) {

                // populate node selector
                $http.get("/iocp/nodes")
                    .then(function(response){
                        $scope.nodes = response.data;
                        $scope.selectedNode = $scope.nodes[0];
                    });

                // date range handler
                $scope.start = new Date(new Date().setUTCHours(0,0,0,0));
                $scope.daysadd = function(dt, i) {
                    dt.setDate(dt.getDate()+i);
                };
                $scope.monthsadd = function(dt, i) {
                    dt.setMonth(dt.getMonth()+i);
                };

                // chart
                $http.get("/iocp/range?start=2017-05-20T00:00:00.000Z&end=2017-05-21T00:00:00.000Z")
                .then(function(response) {

                    data = response.data;

                    margin = {top: 10, right: 30, bottom: 30, left: 30};
                    width = 800 - margin.right - margin.left;
                    height = 400 - margin.top - margin.bottom;

                    // chart
                    svg = d3.select("#graph")
                        .attr("width", width + margin.right + margin.left)
                        .attr("height", height + margin.top + margin.bottom);
                    chart = svg.append("g")
                        .attr("transform", "translate(" + margin.left + ", " + margin.top +")" );

                    // scales
                    xscale = d3.scaleTime()
                        .domain([new Date("2017-05-20T00:00:00.000Z"), new Date("2017-05-20T23:59:59.999Z")])
                        .range([0, width]);

                    ytscale = d3.scaleLinear()
                        .domain([20, 80])
                        .range([height, 0]); // invert y scale

                    yhscale = d3.scaleLinear()
                        .domain([0, 100])
                        .range([height, 0]); // invert y scale

                    ylscale = d3.scaleLinear()
                        .domain([0, 65535])
                        .range([height, 0]);

                    // axis
                    chart.append("g")
                        .call(d3.axisLeft(ytscale));

                    chart.append("g")
                        .call(d3.axisRight(yhscale))
                        .attr("transform", "translate(" + width + ",0)");

                    chart.append("g")
                        .call(d3.axisBottom(xscale))
                        .attr("transform", "translate(0," + height + ")");

                    // scale point fns
                    x = (d) => xscale(new Date(d.timestamp));
                    yt = (d) => ytscale(d.t);
                    yh = (d) => yhscale(d.h);
                    yl = (d) => ylscale(d.l);

                    // temperature
                    templine = d3.line()
                        .x( x )
                        .y( yt )
                        .curve(d3.curveBasis);

                    chart.append("path")
                        .datum(data)
                        .attr("d", templine)
                        // TODO: should come from sample types query
                        .attr("style", "stroke:#f44336; stroke-width: 3; fill:none;");

                    // chart.selectAll(".temp-point")
                    //     .data(data)
                    //     .enter().append("circle")
                    //         .attr("cx", x )
                    //         .attr("cy", yt )
                    //         .attr("r", 3)
                    //         .attr("class","temp-point");

                    // humidity
                    humidityline = d3.line()
                        .x( x )
                        .y( yh )
                        .curve(d3.curveBasis);

                    chart.append("path")
                        .datum(data)
                        .attr("d", humidityline)
                        // TODO: should come from sample types query
                        .attr("style", "stroke:#2196F3; stroke-width: 3; fill:none;");

                    // luminance
                    luminanceline = d3.line()
                        .x( x )
                        .y( yl )
                        .curve(d3.curveBasis);

                    chart.append("path")
                        .datum(data)
                        .attr("d", luminanceline)
                        // TODO: should come from sample types query
                        .attr("style", "stroke:#4CAF50; stroke-width: 3; fill:none;");

                });

            });

        </script>

    </body>

</html>