<!DOCTYPE html>
<html>
    <head>
        <title>iocp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/iocp/test.js"></script>
        <style>
            .tablet {
                height: 150px;
                width: 150px;
            }
        </style>
    </head>

    <body ng-app="app" ng-controller="main" class="w3-light-grey">

        <div class="w3-container">
            <input name="decmonthsstart" type="button" ng-click="monthsadd(-1)" value="<<"/>
            <input name="decdaysstart" type="button" ng-click="daysadd(-1)" value="<"/>
            <svg id="summary"></svg>
            <input name="incdaysstart" type="button" ng-click="daysadd(+1)" value=">"/>
            <input name="incmonthsstart" type="button" ng-click="monthsadd(+1)" value=">>"/>
        </div>

    </body>

</html>
